/* font link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.font-family{
      font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

/* extra section */
.banner-color{
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}

#color-1{
    color: #E95A08;
}

#color-2{
    font-size: 50px;
    font-weight: bold;
    color: #E95A08;
}

#black{
    font-size: 50px;
    font-weight: bold;
}


/* logo section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 1140px;
    height: 71px;
}

#menu{
    font-weight: 500;
    color: #8987A1;
}


nav{
    display: flex;
    align-items: center;
    gap: 48px;
}


nav ul{
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 48px;
    font-weight: bold;
}

.cart{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}



/* banner section */
.banner{
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1140px;
    width: 100%;
    height: auto;
}

.banner-left{
    margin-top: 162px;
    gap: 13px;
}

.banner-h1{
    font-size: 65px;
    font-weight: bold;
}



/* plants section */
.card{
    max-width: 1140px;
    height: 1185px;
    margin: auto;
    text-align: center;
}

.banner-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 49px;
    row-gap: 30px;
    column-gap: 20px;
}

.card-img{
    text-align: center;
    font-family: "Inter", sans-serif;
    gap: 20px;
    background-color: #FFFFFF;
}

.card-img h3{
    font-size: 22px;
    font-weight: 500;
}

.card-img p{
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}


.btn-primary{
    max-width: 270px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 19px 80px;
    border: none;
    color: white;
    background-color: #E95A08;
}


/* plants lover section */
.feature{
    margin: 0 auto;
    margin-top: 196px;
    max-width: 1140px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.feature-img{
    flex: 1;
    min-width: 350px;
}

.feature-img img{
    width: 100%;
    height: auto;
    display: block;
}

.feature-title{
    font-size: 50px;
    font-weight: bold;
}

.feature-description{
    flex: 1;
    text-align: left;
    font-family: "Noto Serif", serif;
}

.feature-description ul li{
    margin-bottom: 20px;
}


/* Latest  Deals */
.card-container{
    text-align: center;
    margin-top: 133px;
    font-family: "Noto Serif", serif;

}

.latest-baner{
    display: flex;
    justify-content: center;
    margin-top: 119px;
    margin-bottom: 120px;
    font-family: "Noto Serif", serif;
}


.banner-left-1{
    background-image: url(./assets/deal-bloom.png);
    background-size: cover;
    width: 367px;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 14px;
    border: 1px solid #C8C8C8;
}

.banner-left-2 h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.banner-left-1 h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.latest-right h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.banner-left-2{
    background-image: url(./assets/deal-ana.png);
    background-size: cover;
    width: 367px;
    height: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.latest-right{
    background-image: url(./assets/deal-zabo.png);
        background-size: cover;
    width: 773px;
    height: 423px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    border-radius: 22px;
}


/* join section  */
.join{
    background-image: url(./assets/news-letter-bg.png);
    height: 533px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.join-title h1{
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 23px;
}

.subcribe-form{
    margin: 0 auto;
}

.subcribe-form input{
    padding: 15px 20px;
    width: 644px;
    height: 40px;
    font-size: 16px;
}

.subcribe-form button{
    padding: 26px 50px;
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 16px;
}

/* footer section  */
footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1120px;
    padding: 50px 160px;
    gap: 110px;
    /* background-color: aquamarine; */
}

.footer-logo{
    flex: 1;
    min-width: 248px;
    /* height: 179px; */
    /* background-color: navy; */
}

.footer-middle{
    display: flex;
    max-width: 600px;
    gap: 110px;
    /* margin: 30px auto; */
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-width: 170px;
}

.footer-links a{
    text-decoration: none;
    font-size: 16px;
    color: #6B7280;
    font-family: "Inter", sans-serif;
}



.footer-social{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    width: 246px;
    height: 36px;
    /* background-color: #E95A08; */
}


@media screen and (max-width:576px) {
    header{
        width: 100%;
    }
    nav ul{
        display: none;
    }

    .banner{
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
    }
    .banner-left{
        margin-top: 28px;
    }

    .banner-card{
        grid-template-columns: repeat(2, 1fr);
    }

    .feature{
        flex-direction: column;
        text-align: center;
    }



    footer{
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .footer-middle{
        flex-direction: column;
        text-align: left;
    }
}
